html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #32a8c8;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name {
    font-size: 4rem;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    text-align: center;
}

.introduction {
    min-height: 2.5rem;
    font-weight: 500;
}

.socials {
    padding: 3rem;
}

.socialicons {
    color: #ffffff;
}

.socialicons,
.socialicons:hover {
    padding-left: 5px;
    padding-right: 5px;
    transition: all .8s;
    margin: 4px;
}

.socialicons:hover {
    color: #000;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn {
    display: inline-block;
    font-weight: 400px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ffffff;
    text-decoration: none;
}

.nav-brand {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar {
    padding: .5rem 1rem;
}

.about
{
    max-height: 400px;
    max-width: 1000px;
    padding: 40px 40px 40px 40px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "img title"
    "img intro"
    "img resume-btn"
    ;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
}
.title{
    color: black;
    text-align: center;
    font-size: 50px;
    grid-area: title;
}
.intro{
    color: #343a40;
    text-align: center;
    font-size: 20px;
    grid-area: intro;
}
.dp{
    grid-area: img;
    display: flex;
    align-items: center;
}
.dp img
{
    height: 300px;
    border-radius: 100%;
}
.resume-btn-container{
    display: flex;
    justify-content: center;
}
.resume-btn{
    margin-top: 30px;
    border: 1px solid #343a40;
    border-radius: 10px;
    color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
    font-size: 20px;
    grid-area: btn;
}
.resume-btn:hover{
    background-color: #343a40;
    color: white;
}
@media only screen and (max-width : 800px) {
    .about{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "title"
    "intro"
    "resume-btn"
    ;
    }
    .dp{
        display: none;
    }
    .title{
        font-size: 30px;
    }
    .intro{
        font-size: 15px;
    }
}
.projects-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding-bottom: 50px;
}
.projects{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(190, 190, 190);
    height: fit-content;
    padding: 0px 10px 10px 10px;
    max-width: 500px;
    min-width: 320px;
    margin: 10px 10px 10px 10px;
    color: black;
    background-color: white;
}
.project-title{
    font-size: 18px;
}
.github{
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    border: 1px solid #343a40;
    border-radius: 10px;
}
.github:hover{
    background-color: #343a40;
    color: white;
}